/* ====================== setup ====================== */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
	position: relative;
}

h2 {
	font-family: 'Raleway';
	font-size: 3em;
}

body {
	background-color: #222; 
	font-family: Helvetica;
}

ul {
	list-style-type: none;
	text-align: center;
}

#global {
	width: 100%;
	background-color: #F0F8FF;
}

#content_section {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid black;
	color: black;
	text-align: center;
}

section {
	min-height: 30vh;
}

/* ====================== about ====================== */
/*bckgr*/
header {
	width: 100%;
	height: 90vh; 
	background-color: #F0F8FF;
}

header #header_bg {
	width: 100%;
	height: 100%;
	filter: brightness(33%);
	position: relative;
}
/*txt*/
#about {
	width: 100%;
	position: absolute;
	z-index: 50;
	text-align: center;
	top: 10%;
}

#about h1{
	color: white; 
}

#about p {
	margin-top: 2%;
	margin-left: 25%;
	margin-right: 25%;
	color: white; 
}

#about {
	text-align: center;
}
/*pro_pic*/
#profile_pic {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	box-shadow: 0 0 5px #CDF7F2;
	-webkit-box-shadow: 0 0 5px #CDF7F2;
	-moz-box-shadow: 0 0 5px #CDF7F2;
}

/* ====================== menu ====================== */
ul#menu {
	width: 100%;
	background-color: #0b0b0b;
	border-top: 1px solid #357AB7;
	height: 10vh;
	line-height: 6vh;
}

li {
	font-family: helvetica;
}

#menu li {
	font-size: 1.7em;
	margin-top: 0.5%;
	height: 80%;
	width: 16%;
	display: inline-block;
	padding: 10px;
	vertical-align: center;
}

.border {
	border-left: 2.5px solid #222;
}

#menu a {
	color:#357AB7;
}

a {
    text-decoration: none;
}

nav li.active {
	border-bottom: 1px solid #357AB7;
	color: white;
}

.fixed {
    position: fixed;
    top: 0;
	z-index: 99;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.fixed ul {
    border-radius: 0 0 8px 8px;
} 

/* ====================== my_projects ====================== */

#content_portfolio {
	padding: 0;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-wrap: wrap;
}

#proj_portfolio p {
	border-bottom: 3px solid #357AB7;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

#content_portfolio a {
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
}

.projects {
	padding-top: calc(5% + 30px);
}

.projects img {
	width: 100%;
	height: 33vh;
	text-align: center; 
}

.proj_txt {
	text-align: center;
	border-bottom: 3px solid #666;
	background-color: white;
	height: 40px;
}

.proj_title {
	color: #01b2f1;
}

.proj_desc {
	color: grey;
}

/*prj_hover*/
.prj_img_onhover {
	filter: grayscale(0);
}

.prj_img_onleave {
	filter: grayscale(1);
}

.prj_contender_onhover {
	position: relative;
	background-color: #01b2f1;
	margin-top: -30px;
	height: 70px;
	color: white;
	line-height: 30px;
}

.prj_txt_onhover {
	color: white;
}

/* ====================== contact ====================== */

footer {
	width: 100%;
	height: 90vh;
}

#contact {
	text-align: center;
}

#con_social,#con_infos {
	display: inline-block;
	width: 26%;
}

.socials_logos {
	margin: 0;
	padding: 0;
	height: 25px;
	vertical-align: middle;
	border: none;
    outline: none;
}

#socials li {
	vertical-align: middle;
	text-align: left;
	margin-left: 20%;
	padding-top : 5px;
}

#socials a {
	padding-left: 5px;
	color : #CECECE;
}



/*lightbox*/
#bg {
	position: absolute;
	top:0;
	left:0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: #222;
}
#close {
	color: white;
	font-weight: bold;
	top:5%;
	right:5%;
	position: fixed;
	z-index: 99;
}
#close:hover{
	cursor: pointer;
}