* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #222; 
}

ul {
	list-style-type: none;
	text-align: center;
}

/* ====================== about ====================== */

header {
	width: 100%;
	background: linear-gradient(#A9EFE5,#46C3D7);
}

#about {
	text-align: center;
}

/* ====================== menu ====================== */

ul#menu {
	width: 100%;
	background-color: #0b0b0b;
	border-top: 1px solid orange;
}

li {
	font-family: helvetica;
}

#menu li {
	margin-top: 0.5%;
	width: 16%;
	display: inline-block;
	padding: 10px;
}

.border {
	border-left: 2.5px solid #222;
}

#menu a {
	color:orange;
}

a {
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* ====================== my_projects ====================== */
#proj_intro {
	min-height: 75vh;
	background-color: darkcyan;
}


#proj_portfolio {
	min-height: 100vh;
	background-color: #F0F8FF;
}

#content_portfolio {
	padding: 0;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid black;
	min-height: 300px;
	display: flex;
	flex-wrap: wrap;
}

#content_portfolio a {
	width: 31%;
	margin-left: 2.2%;
}

.projects {
	height: 50vh;
	background-repeat: no-repeat;
	background-size: auto 180%;
}
.projects h3,h4 {
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: -30%;
}

.projects img {
	height: 100%;
}
/*
.projects img {
	height: 160px;
}*/

/* ====================== contact ====================== */

footer {
	width: 100%;
}

#contact {
	text-align: center;
}

#con_social,#con_infos {
	display: inline-block;
	width: 26%;
}

.socials_logos {
	margin: 0;
	padding: 0;
	height: 25px;
	vertical-align: middle;
	border: none;
    outline: none;
}

#socials li {
	vertical-align: middle;
	text-align: left;
	margin-left: 20%;
	padding-top : 5px;
}

#socials a {
	padding-left: 5px;
	color : #CECECE;
}

